<div class="w-full lg:mx-auto lg:w-1/2">
  <mat-card class="mb-5">
    <mat-card-title>過去の業績 Performance</mat-card-title>
    <mat-card-subtitle>これまでに行った研究や学会発表を紹介しています。</mat-card-subtitle>
    <mat-card-content class="mt-5">
      <p>2019/11/23 第15回 日銀グランプリ 敢闘賞</p>
      <p>2019/11/30 SFERS 2019 Korea-Japan Joint Economics Seminar</p>
      <p>
        2021/10/11 UBRI Connect 2021 (Collection of Electricity Charges on Blockchain to Promote
        Energy Savings)
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title>第15回 日銀グランプリ</mat-card-title>
    <mat-card-subtitle>2019/11/23</mat-card-subtitle>
    <mat-card-content class="mt-5">
      <p>
        2019/11/23に日本銀行本店にて開催された 第15回
        日銀グランプリ　決勝大会に出場し、研究発表を行いました。 敢闘賞を受賞しています。
      </p>
      <p>
        「キャッシュレス推進と幣制改革の必要性　～高額紙幣廃止のマイナス金利政策における効果の実証分析～」
      </p>

      <mat-nav-list>
        <mat-divider inset="true"></mat-divider>
        <mat-list-item>
          <a
            href="https://www.boj.or.jp/announcements/release_2019/data/rel191227a7.pdf"
            target="_blank"
            >論文 [PDF 662KB] (日本銀行HP)
          </a>
        </mat-list-item>
        <mat-divider inset="true"></mat-divider>
        <mat-list-item>
          <a
            href="https://www.boj.or.jp/announcements/release_2019/data/rel191227a8.pdf"
            target="_blank"
            >プレゼンテーション資料 [PDF 1,354KB] (日本銀行HP)
          </a>
        </mat-list-item>
        <mat-divider inset="true"></mat-divider>
      </mat-nav-list>
    </mat-card-content>
    <div class="mb-2">
      <a
        mat-flat-button
        color="primary"
        class="w-full"
        href="https://youtu.be/Vnq35DH5moY"
        target="_blank"
      >
        プレゼンテーション
      </a>
    </div>
    <a
      mat-flat-button
      color="accent"
      class="w-full"
      href="https://youtu.be/jtGoyHG5jzc"
      target="_blank"
    >
      質疑応答
    </a>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title>SFERS 2019 Korea-Japan Joint Economics Seminar</mat-card-title>
    <mat-card-subtitle>2019/11/30</mat-card-subtitle>
    <mat-card-content class="mt-5">
      <p>
        2019/11/30にSeoul National Universityで開催されたSFERS 2019 Korea-Japan Joint Economics
        Seminarにて、京都大学経済学部岩本ゼミナールの代表として発表を行いました。
      </p>
      <p>"The Effects of Japanese Negative Interest Rate Policy on Inflation Rate"</p>
      <mat-nav-list>
        <mat-divider inset="true"></mat-divider>
        <mat-list-item>
          <a href="assets/files/English_iwamoto.pdf" target="_blank"> 論文 (英文) </a>
        </mat-list-item>
        <mat-divider inset="true"></mat-divider>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title>UBRI Connect 2021</mat-card-title>
    <mat-card-subtitle>2021/10/11</mat-card-subtitle>
    <mat-card-content class="mt-5">
      <p>
        2021/10/11にオンラインで開催された、UBRI Connect 2021 (Collection of Electricity Charges on
        Blockchain to Promote Energy
        Savings)にて京都大学との共同事業について、京都大学思修館の池田教授より発表されました。
      </p>
      <p>"Development of a Blockchain-Based Electricity Trading System at Kyoto University"</p>
    </mat-card-content>
    <a
      mat-flat-button
      color="primary"
      class="w-full"
      href="https://youtu.be/vMrCGI8FyCs"
      target="_blank"
    >
      講演の様子
    </a>
  </mat-card>
</div>
