<div class="w-full lg:mx-auto lg:w-1/2">
  <mat-card class="mb-5">
    <mat-card-title class="mb-5">大村瀬奈　公式ホームページ</mat-card-title>
    <mat-card-subtitle>OHMURA Senna Website</mat-card-subtitle>
    <img
      class="object-scale-down h-72 w-1/3"
      mat-card-image
      src="assets/images/senna.jpg"
      alt="Photo of OHMURA Senna"
    />
  </mat-card>
  <mat-card class="mb-5">
    <mat-card-title class="mb-5">プロフィール Profile</mat-card-title>
    <mat-card-content class="mt-5">
      <p>大村瀬奈 (おおむら せな) / OHMURA Senna</p>
      <p>京都大学経済学学士</p>
      <p>所属 CauchyE, Inc.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title class="mb-5">過去の経歴　History</mat-card-title>
    <mat-card-content class="mt-5">
      <p>1998/04/06 奈良県桜井市にて誕生</p>
      <p>2011/04 東大寺学園中学校入学</p>
      <p>2014/03 東大寺学園中学校卒業</p>
      <p>2014/04 東大寺学園高等学校入学</p>
      <p>2017/03 東大寺学園高等学校卒業</p>
      <p>2017/04 京都大学経済学部入学 (特色入試首席)</p>
      <p>2021/03 京都大学経済学部卒業</p>
      <p>2021/04 経済産業省入省 (商務情報政策局事務官)</p>
      <p>2021/06 経済産業省辞職</p>
      <p>2021/07 CauchyE, Inc. 入社</p>
      <p>2021/07 京都大学思修館 共同研究</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title class="mb-5">研究分野 Research Area</mat-card-title>
    <mat-card-content class="mt-5">
      <p>経済学、特にマクロ経済の金融政策を学んでいます。</p>
      <p>学士論文では金融緩和政策の波及経路についての研究を行いました。</p>
      <p>
        また、分散型台帳技術やブロックチェーン技術の調査も行っており、過去にEthereumのマイニング、XRP
        Ledgerのバリデータの保守など幅広くブロックチェーン関連技術に携わっています。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title class="mb-5">過去の業績 Performance</mat-card-title>
    <mat-card-content class="mt-5">
      <p>2019/11/23 第15回 日銀グランプリ 敢闘賞</p>
      <p>2019/11/30 SFERS 2019 Korea-Japan Joint Economics Seminar</p>
      <p>
        2021/10/11 UBRI Connect 2021 (Collection of Electricity Charges on Blockchain to Promote
        Energy Savings)
      </p>
    </mat-card-content>
    <button mat-flat-button color="primary" class="w-full">詳細 Details</button>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title class="mb-5">オープンソースへの貢献 Open Source Commitment</mat-card-title>
    <mat-card-content class="mt-5">
      <mat-chip-list>
        <mat-chip color="primary">
          <a href="https://github.com/KyotoUniv-SIC">KyotoUniv-SIC</a>
        </mat-chip>
        <mat-chip color="primary"><a href="https://github.com/UnUniFi">UnUniFi</a></mat-chip>
        <mat-chip color="primary">
          <a href="https://github.com/cosmos-client">cosmos-client</a>
        </mat-chip>
        <mat-chip color="primary"><a href="https://github.com/OpenSRDK">OpenSRDK</a></mat-chip>
        <mat-chip color="primary"><a href="https://github.com/lcnem">LCNEM</a></mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <button mat-flat-button color="primary" class="w-full">
      <a href="https://github.com/KyotoUniv-SIC"></a>Senna46 (GitHub)
    </button>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-title class="mb-5">プログラミング言語 Language</mat-card-title>
    <mat-card-content class="mt-5">
      <mat-chip-list>
        <mat-chip color="primary">TypeScript</mat-chip>
        <mat-chip color="primary">JavaScript</mat-chip>
        <mat-chip color="primary">Angular</mat-chip>
        <mat-chip color="primary">Go</mat-chip>
        <mat-chip color="primary">Python</mat-chip>
        <mat-chip color="primary">Java</mat-chip>
        <mat-chip color="primary">Rust</mat-chip>
        <mat-chip color="primary">Docker</mat-chip>
        <mat-chip color="primary">Firebase</mat-chip>
        <mat-chip color="primary">Google Cloud</mat-chip>
        <mat-chip color="primary">Microsoft Azure</mat-chip>
        <mat-chip color="primary">GitHub Actions</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
